<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Home</title>
		<link href="../css/style.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>
	<body>
		<%- include('./partials/header'); %>
		<div class="containers">
			<div class="sidebar-allsites">
				<% if(isMySites){ %>
					<h1>Your Hosted Sites</h1>
				<% } %>
				<% if(!isMySites){ %>
					<h1>Global Sites</h1>
				<% }%>
				<% if(data.length === 0){ %>
					<p style="font-size: 1.2rem; font-weight: 500;margin-top: 30px;">Shoot!! Seems like you haven't hosted any sites yet :(</p>
					<a href="http://localhost:5000/frontend" class="site-name">
						Host your first site Now!!
					</a>
				<% } %>
				<% data.forEach(function(d){ %>
					<% const url = "http://localhost:5000/data/"+ d.infoHash %>
					 <a href=<%=url%> target="_blank" class="site-name">
							<%= d.Name %>
						</a>
				<% }) %>
			</div>

			
			<div class="main-info">
				<% if(isMySites){ %>
					<div>Hey <%= currentUser.Name.split(" ")[0] %>, Seems Like you were looking for your hosted website, look on the left side of the screen :)</div>
					<a href="http://localhost:5000/sites">Or wanna see the global sites hosted on our platform? Click me</a>					
				<% } %>
				<% if(!isMySites){ %>
					<div>Welcome Back, <%= currentUser.Name.split(" ")[0] %></div>
					<a href="http://localhost:5000/sites/mysites">Wanna see the list of your hosted sites? Click me</a>
				<% }%>
			</div>
			<!-- <div class="rightbar-"></div> -->
		</div>
	</body>
</html>
